

.surf-header {
 background-image:url('../images/C2.jpg');
 background-size:cover;
 height:300px;
}

.zeke {
 background-image:url('../images/zeke.jpg');
 background-size:cover;
 height:500px;
}

.nikki {
 background-image:url('../images/nikki.jpg');
 background-size:cover;
 height:500px;
}

.kyuss {
 background-image:url('../images/kyuss.jpg');
 background-size:cover;
 height:500px;
}

.zekepic {
 background-image:url('../images/zeke.jpg');
 background-size:cover;
 height:300px;
}

.nikkipic {
 background-image:url('../images/nikki.jpg');
 background-size:cover;
 height:300px;
}

.kyusspic {
 background-image:url('../images/kyuss.jpg');
 background-size:cover;
 height:300px;
}

.cjhobgood {
  background-image:url('../images/cjhobgood.jpg');
 background-size:cover;
 background-position: center;
 height:500px;
}

.Rabbit-Kekai {
  background: url('../images/RabbitKekai.jpg');
  background-postition: center;
  background-size: cover;
  height: 500px;
}

.carousel-1 {
  background: url('../images/RabbitKekaiCarousel.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}
