.surf-header {
 background-image:url('../images/banner.jpg');
 background-size:cover;
 background-position:center;
 height:300px;
}

.left {
 float:left;
}

.right {
 float:right;
}

.biopic {
 background-position:center;
 background-size:cover;
 height:500px;
}

.carpic {
 background-size:cover;
 height:500px;
}