@(message: String) @Main("Home") {
<div class="container">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="zeke"></div>
        <div class="carousel-caption">Ezekiel Lau</div>
      </div>
      <div class="item">
        <div class="nikki"></div>
        <div class="carousel-caption">Nikki Van Djik</div>
      </div>
      <div class="item">
        <div class="kyuss"></div>
        <div class="carousel-caption">Kyuss King</div>
      </div>
      <div class="item">
        <div class="cjhobgood"></div>
        <div class="carousel-caption">CJ Hobgood</div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="icon-prev"></span>
    </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="icon-next"></span>
    </a>
  </div>
</div>
}
