@(message: String) @Main("Rabbit Kekai") {
<div class="container">
  <div class="col-md-4">
    <div class="well">
      <div class="Rabbit-Kekai"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      Rabbit Kekai<br>
      <p>From Waikiki beach boys to groundbreaking surfer to North Shore Beach Marshall, Rabbit Kekai has crossed
        paths with Duke Kahanamoku, John Florence and everyone in between. Now in his ninth decade, his enthusiasm for
        talking story, telling jokes and surfing are as strong as ever. One of five children born to a Waikiki
        machinist, Albert Kekai was a part of the beach scene by age three. His uncle was a lifeguard at Publics, and he
        had young Kekai surfing by age five. Active in every sport under the sun, his remarkable speed on the field
        earned the boy the nickname "Rabbit." Of his early days, he remembers, "I would play football, come back surf,
        play basketball, come back surf, run track, always going." At 10, he was taken under the wing of Duke Kahanamoku
        who paid his entries into canoe races and had him teaching surf lessons. An excellent student at Kamehameha
        High, Rabbit sought an athletic scholarship but was hampered by his small stature. Despite academic scholarship
        offers, he decided to earn a living from the beach. To supplement his beachboy lifestyle, he earned wages as a
        caddy at Ala Wai Golf Course, a construction worker, a stevedore, a bit actor and a successful beachside
        gambler. A pioneer of North Shore surfing in the '30s with George Downing, Wally Froiseth, Woody Brown and Henry
        Lum, Rabbit became known as an innovator of drop-knee turns on short, finless boards. He practically invented
        hotdogging, inspiring the likes of Phil Edwards, Matt Kivlin, Joe Quigg, Miki Dora and Donald Takayama (who
        shapes Rabbit's boards today). He also had a direct part in the development of surfers such as Joey Cabell, Jeff
        Hakman and Randy Rarick. He made his own redwood and balsa boards prior to World War II, at which time he served
        as an army frogman in the South Pacific. He was one of four from his 12-man platoon to return from action.</p>
      <p>A winner of the Peruvian and Makaha International titles during the '50s, Rabbit competed worldwide and
        remains an avid competitor to this day, routinely winning the over-50 division. As for remembering his
        accomplishments, he responds, "When you pass 500 trophies, years and years ago, you lose count." Each winter
        season, he can be found at every Triple Crown event, doling out singlets, wisecracks and advice as Beach
        Marshall, a position he has held since the first Pipe Masters in 1971. Regardless of nationality, he calls all
        the surfers by name and has a pleasant word for all. Now a great-grandfather, Rabbit resides just down the road
        from his Waikiki stomping grounds. His wife Lynn is a schoolteacher in Palos Verdes, California, and he makes
        several trips to the mainland each year. He remains the most in-demand surf instructor at Baby Queens and
        contends that the ocean is the key to eternal youth. "The water is so good," he says thoughtfully. "It keeps me
        young while my friends are so old. I tell them to get in the water. It calms you -- no stress -- and brings you
        back to earth."-- Jason Borte</p>
    </div>

  </div>

</div>

}
