@(message: String)

@Main("Kyuss King") {
   <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="kyuss center"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <h1>Kyuss King</h1>
                <p>Kyuss King born and lives in Byron Bay NSW Australia with his younger brother Rasmus, dad Kingie and mum Eva. Kyuss lives in a farm house on the country side of Byron Bay.</p><br>
                <p>At the age of 4 Kyuss featured on the front cover of the local newspaper surfing across a green face solo out the Pass and with a stance that true of a grounded point surfer.  Kyuss’s surfing talents were soon noticed by the surf brands and was sponsored by Volcom at the age of 6. Kyuss loved competing and went on to win many national junior events over the past years and recently claimed the 2011 U12 NSW State Titles Championship and added 2 perfect 10 point rides at state level.</p>
            </div>
        </div>
    </div>
   </div>
}
