@(message: String)

@Main("Kyuss King") {
   <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="kyuss center"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <h1>Kyuss King</h1>
                <p>Kyuss King born and lives in Byron Bay NSW Australia with his younger brother Rasmus, dad Kingie and mum Eva. Kyuss lives in a farm house on the country side of Byron Bay.</p><br>
                <p>Kyuss King was named after the legendary Rock Band "Kyuss" an underground desert rock group originating from Palm Desert California and the pioneers of the "Stoner Rock" genera. The Kyuss music was played on high rotation during Kingie's youth growing up in Avalon and continues today in the Kings lives. When Kingies first son came along in 2000, Kyuss King was born.</p>
            </div>
        </div>
    </div>
   </div>
}
