@(message: String)

@Main("Nikki Van Djik") {
   <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="nikkipic"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <h2>Nikki Van Djik</h2>
                <p>Nikki's Dad taught her to surf on the beaches of Phillip Island, where she has grown (is still growing) up. At the tender age of 10 Nikki was talent spotted by Rip Curl and in 2007 was the youngest ever State Junior Champion, taking out the Quiksilver State Championships at just 12 years of age. At 14, Nikki won the local trials for a wildcard to compete in the main event of the Rip Curl Women’s Pro in 2009. After surfing her way to 9th place she was knocked out by team mate Steph Gilmore. Now 15, Nikki has been concentrating on the Pro Junior Series and is aiming for the World Tour one day.</p>
            </div>
        </div>
    </div>
   </div>
}
