@(message: String)

@Main("Ezekiel Lau") {
   <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="zekepic"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <p>Ezekiel Lau (better known as Zeke) is coming of age as a surfer and competitor right in front of our eyes with some impressive and creative surfing. Zeke is known for having a unique blend of style, speed, and power. Ezekiel sets himself apart as a private school student at Kamehameha Schools (an Institution for students of Hawaiian Ancestry) while pursuing a competitive surfing career in which he claimed 4 National Titles. Surfing is his passion and he hopes you will develop a passion for watching him as he comes up in rank as the next generation of surfing’s’ finest.</p><br>
               <p>Zeke is leading the charge of the new guard of Hawaiian surfers. He is mixing the old hallmarks of Hawaiian surfing like power and big wave bravado with new school flair, the results are amazing. He won a 4 star QS this summer in El Salvador and backed that up with a 2nd at another 4 star in Puerto Escondido. Zeke has a bright future and he knows full well that the hope of the islands is resting firmly on his shoulders. When not surfing Zeke loves to work out, play basketball and train in Jiu Jitsu.</p>
            </div>
        </div>
    </div>
   </div>
}
